* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
}

#hero {
    color: #fff;
    width: 100%;
    height: 100vh;
    background-color: black;
}

#nav {
    width: 100%;
    padding: 20px 40px;
    color: #fff;
}

#nav a {
    text-decoration:  none;
    font-size: 18px;
    color: white;
}

#heading {
    margin-top: 40px;


}
#heading h1{
    margin-left: 40px;
    line-height: 1;
    opacity: .6;
    font-size: 9vw;
    text-transform: uppercase;
    /* font-weight: 900; */

}
#heading #second1 {
    margin-left: 230px;
}
.blocktext {
    width: fit-content;
    /* background-color: blueviolet; */
}
.blocktext h5 {
    text-transform: uppercase;
    font-size: 15px;
    text-align: right;
}
#chotiheading {
    margin-top: 100px;

}
#chotiheading h5 {
    text-align: right;
    margin-top: .5vw;
    font-size: 1vw;
    text-transform: uppercase;
}